body{
    background-color: brown;
    font-family: Arial;
}

#contenedor{
    margin: 150px auto;
    width: 600px;    
}

table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td{
    padding: 20px;
}

thead{
    background-color: darkslategray;
    border-bottom: solid 5px darkgreen;
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color: white;
}
